@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204);
    border-radius: 3px;
}

html::-webkit-scrollbar-track {
    border-radius: 3px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    overflow-x: hidden  ;
}

.tittle{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.subtittle{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

.paragraph{
    font-weight: 400, sans-serif;
    font-size: 1.5rem;
    color: #000;
    padding-top: 2rem;
}   

.container {
    width: 100%;
    margin: 0 auto;
    padding: var(--padding-container);
    background-color: #dfdfdf;
}

.container-img{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 10%;
}

.hero {
    overflow: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: calc(10vh + 3rem);
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr;
    z-index: 10;
}

/* Nav */

.nav {
    padding: 0 3rem 0 3rem;
    background-color: #fff;
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;    
}

.nav__logo
{
    position: relative;
    width: 12vw;
}

.nav__logo img
{
    width: 100%;
}

.nav__title {
    font-weight: 300;
}

.nav__link{
    margin-left: 6rem;
    margin-right: 16rem;
    width: 70%;
    padding: 0;
    justify-content: space-between;
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    height: 100%;
}

a.nav__links::before {
    rotate: 0deg;
    transition: all 1s ease-in-out;
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    background-image: url(../images/menuArrow.svg);
    background-size: cover;
}

.action a.nav__links::before {
    rotate: 90deg;
}

.nav__items {
    list-style: none;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav__links {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
}

a.nav__links:hover
{
    cursor: pointer;

}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

.navSuperior
{
    height: 3rem;
    display: flex;
    width: 100%;
    padding: 0 3rem;
    align-items: center;
    justify-content: left;
    background-image: url(../images/degradado1.jpg);
}

.btn-flotante 
{
    top: 7.5%;
    right: 0%;
    width: 15rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: #CF142B;
    padding: 18px 30px;
    position: fixed;
    transition: all 1000ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.btn-flotante:hover {
  background-color: darkred; 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.submenu
{
    opacity: 0;
    font-family: 'Inter';
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    position: absolute;
    left: 0%;
    top: 100%;
    padding: 20px;
    background-color: rgba(255,255,255,0.6);
    max-height: 0px;
    transition: all 1s ease-in-out;
    overflow: hidden;
    box-sizing: border-box; 
}

.action .submenu
{
    max-height: 1000px ;
    opacity: 1;
}


/* Hero container */

.hero__container {
    width: 100vw;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 2em;
    padding:0%;
    text-align: center;
    height: calc(90vh - 3rem);
}

.hero__title {
    font-size: 3rem;
    color: #fff;
    text-shadow: 4px 0px 0px  #000;
}

.hero__paragraph {
    margin-bottom: 20px;
    font-size: 1.85rem;
    color: #fff;
    text-shadow: 4px 0px 0px  #000;
}

.cta {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-color: #CF142B;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border: 3px solid #fff;
}

/* About */


/* Productos */

.productos{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.productosContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
/*    background-image: url(../images/degradadoG.jpg);*/
background: linear-gradient(
        to top,
        #0C2340,
        #003087
        );
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    justify-items: center;
    align-items: start;
}

.productosSubcontainer{

    background: linear-gradient(
        to right,
        #fff,
        rgba(255,255,255,0.1)
        );
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.productosElement{
    position: relative;
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 320px;
    height: 320px;
    padding: 0;
    transition: all 1s ease-in;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%, 0 0);
}

.productosImg{
    position: relative;
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.productosElement::after
{
    position: absolute;
    top: 0;
    left: 0;
    content:"";
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: #CF142B;
    opacity: 0;
    transition: all 1s ease-in;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%, 0 0);
}

.productosElement:hover::after
{
    opacity: 1;
    clip-path: polygon(84% 0, 100% 16%, 100% 100%, 0 100%, 0 0);
}

.productosElement:hover
{
    opacity: 1;
    clip-path: polygon(84% 0, 100% 16%, 100% 100%, 0 100%, 0 0);
}

.productosElement:hover .text-hover
{

    opacity: 1;
}

.text-hover 
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #FFF;
    opacity: 0;
    z-index: 4;
    transition: 1s;
}


.productosText{
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.productosTittle
{
    font-weight: 600;
    font-size: 4rem;
}

.productosSubtittle
{
    font-weight: 400;
    font-size: 2.5rem;
}

.productosParagraph
{
    font-weight: 300;
    font-size: 1.5rem;
}

.degradado
{
    background: linear-gradient(
        to right,
        #fff,
        rgba(255,255,255,0.1)
        );
    width: 100%;
    height: 25rem;
}

/* nosotros */

.nosotros {
    background-color: #dfdfdf;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.nosotrosContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    grid-template-rows: min-content min-content min-content;
    height: 55vw;
    justify-items: center;
    align-items: start;
    padding-top: 4rem;
}

.nosotrosSubcontainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 5rem;
    justify-items: center;
    align-items: center;
    gap: 5rem;
}

.nosotrosSubcontainer.tres
{
    padding-top: inherit;
    grid-template-columns: 1fr 1fr 1fr;
}

.nosotrosElement{
    position: relative;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    height: 370px;
    padding: 0;
}

img.oficionas.centrales {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Nparagraph::before{
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    background-size: cover;
    background-image: url(../images/menuArrow.svg);
}

.Nparagraph.uno::before
{
    background-image: url(../images/Maximizarr.svg);
}

.Nparagraph.dos::before
{
    background-image: url(../images/Seguridad2r.svg);
}

.Nparagraph.tres::before
{
    background-image: url(../images/Eficienciar.svg);
}

.Nparagraph.cuatro::before
{
    background-image: url(../images/Emisiones2r.svg);
}

.acercaCertificado.cinco::before
{
    background-image: url(../images/Certificate.svg);
}


.Lparagraph{
    font-weight: 300;
    font-size: 1rem;
    color: #000;
    text-align: justify;
    padding-top: 2rem;
}

.Nparagraph{
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.nosotrosTittle{
    font-size: 3rem;
    font-weight: 600;
    color: #101084;
    padding: 0 5rem;
    justify-self: start;
    text-decoration: none;
}

.nosotrosSubtittle
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.nosotrosParagraph{
    font-weight: 400;
    font-size: 1.25rem;
    color: #000;
    padding-top: 2rem;
}

/* NUESTROS CLIENTES*/

.nuestro
{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nuestroTexto
{
    height: 5rem;
    font-size: 2.5rem;
    background-color: transparent;
    z-index: 2;
    color: #fff;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NUESTROS CLIENTES*/

.carousel 
{
    position: absolute;
    top: 40%;
    overflow: hidden;
    width: 100%;
    height: 400px;
}
  
.slides 
{
    display: grid;
    grid-template-columns: repeat(60,300px);
    grid-template-rows: 300px;
    animation: slideAnimation 60s linear infinite;
    gap: 3rem;
}
  
.slides img
{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}
  
@keyframes slideAnimation 
{
    0% 
    {
      transform: translateX(0);
    }
    100% 
    {
      transform: translateX(calc(-35*300px));
    }
}

/* ACERCA */

.acerca{
    background-color: #dfdfdf;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.acercaContainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-rows: min-content min-content min-content;
    height: fit-content;
    justify-items: center;
    align-items: start;
    padding-top: 4rem;
}


.aboutUs{
    background-color: #dfdfdf;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.aboutUs__container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-rows: min-content min-content min-content;
    height: fit-content;
    justify-items: center;
    align-items: start;
    padding-top: 4rem;
}

.acercaText{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
}

.acercaTittle
{
    font-size: 3rem;
    font-weight: 600;
    color: #101084;
    padding: 0 5rem;
    justify-self: start;
    text-decoration: none;   
}

.acercaParagraph
{
    font-weight: 400;
    color: #000;
    padding-top: 2rem;
    font-size: 1.25rem;
}

.acercaCertificado
{
    font-weight: 600;
    color: #101084; 
    font-size: 1.7rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
}

/* ADORNOS */


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.texto-encima {
    height: 5rem;
    font-size: 3rem;
    background-color: #0C2340;
    z-index: 2;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.justificando
{
    height: 45vh;
    background-image: url("../images/tubos.jpg");

    position: relative;
    display: inline-block;
    text-align: center;
    width: 100vw;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nuestro
{
    height:50vh;
    background-image: url("../images/barras.jpg");

    position: relative;
    display: inline-block;
    text-align: center;
    width: 100vw;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mision
{
    height:50vh;
    background-image: url("../images/barras.jpg");

    position: relative;
    display: inline-block;
    text-align: center;
    width: 100vw;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lineaD
{
    position: absolute;
    top: 8rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    right: 0;
}

.lineaI
{
    position: absolute;
    top: 8rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    left: 0;
}

.lineaDa
{
    position: absolute;
    top: 8rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    right: 0;
}

.lineaIa
{
    position: absolute;
    top: 8rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    left: 0;
}

.lineaC
{
    position: absolute;
    top: 11.5rem;
    background-color: #CF142B;
    height: 5px;
    width: 100%;
    left: 0;
}

/* PRIMER CARRUSEL */

section.testimony {
    height: inherit;
}   

.testimony__container{
    grid-template-columns: 30px 1fr 30px;
    height: 100%;
    position: relative;
}

.testimony__body{
    opacity: 0;
    position: absolute;
    top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    z-index: 2;
    justify-items:center ;
}   

.testimony__body--show
{
    opacity: 1;
    z-index: 3;
}

.testimony__picture
{
    width: 100vw;
    height: 95vh;
    position: relative;
}


.testimony__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimony__arrow{
    position: absolute;
    top: 72%;
    left: 4rem;
    width: 4rem;
    z-index: 4;
}

.testimony__arrow:nth-of-type(2)
{
    left: auto;
    right: 4rem;
}

.right .testimony__body.next {
    opacity: 1;
    animation: nextRight 1s ease-in-out;
    animation-fill-mode: forwards;
}

.right .testimony__body--show {
    opacity: 1;
    animation: currentRight 1s ease-in-out;
    animation-fill-mode: forwards;
}

.right .testimony__body.before {
    opacity: 0;
}

.left .testimony__body--show {
    opacity: 1;
    animation: currentLeft 1s ease-in-out;
    animation-fill-mode: forwards;
}

.left .testimony__body.before {
    opacity: 1;
    animation: prevLeft 1s ease-in-out;
    animation-fill-mode: forwards;
}

.left .testimony__body.next {
    opacity: 0;
}

@keyframes currentRight {
    from {translate: 0vw;}
    to {translate: -100vw;}
    
}
@keyframes nextRight {
    from {translate: 100vw;}
    to {translate: 0vw;}
}

@keyframes currentLeft {
    from {translate: 0vw;}
    to {translate: 100vw;}
}
@keyframes prevLeft {
    from {translate: -100vw;}
    to {translate: 0vw;}
}

/* Footer */

.foot__container
{
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /*background-image: url("../images/degradadoG.jpg ");*/
    background: linear-gradient(
        to top,
        #0C2340,
        #003087
        );
    color: #fff;
    padding: 0;
}

.foot__subcontainer
{
    color: #fff;
    padding: 0;
}

.footTittle
{
    padding-top: 0;
    background-image: none;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.foot__text
{
    font-size: 2rem;
    margin: 0;
}

.footParagraph
{
    padding-top: 10px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}

.form-content
{
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    padding: 0 50px;
    width: 100%;
    border-radius: 25px;
}

.form-content h2
{
    font-family: Inter;
    color: #F4F6F9;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Galeria */

.gallery__tittle
{
    grid-column-start: 1;
    grid-column-end: 4;
}

.gallery__paragraph
{
    font-family: Inter;
    color: #F4F6F9;
    font-size: 2.5rem;
    margin-bottom: 20px;   
}

.gallery-container
{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    grid-gap:30px;
    height: 80vh;
}

.gallery-sub
{
    gap:30px;
    max-width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    height: 80%;
}

.gallery-sub:nth-of-type(2)
{
    grid-template-rows: 1fr 1fr;
}

.gallery-sub:nth-of-type(3)
{
    grid-template-rows: 3fr 1fr;
}

.gallery-sub:nth-of-type(4)
{
    grid-template-rows: 1fr 3fr;
}

.gallery__img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__item:nth-child(4){
    grid-column-start: span 2;
}

/* Media queries */

@media (min-width:768px) and (max-width:1024px)
{

    .nav {
        padding: 0 0rem 0 1rem;
    }

    .nav__link {
        margin-left: 2rem;
    }

    /* .nav__menu{
        display: block;
    }

    .nav__link--menu{
        font-size: 1rem;
        position: fixed;
        background-color: rgb(255,255,255,0.6);
        top: 0;
        left: 0;
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    } */

    .btn-flotante
    {
        top: 16%;
        font-size: 1rem;
    }
/* 
    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    } */

    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph {
        margin-bottom: 5px;
        font-size: 1.5rem;
    }

    .cta {
        font-size: 1rem;
    }

    .texto-encima 
    {
        height: 4rem;
        font-size: 2rem;
    }    

    .productosContainer
    {
        height: 55vw;
        justify-items: center;
        padding: 0;
    }

    .productosSubcontainer 
    {
        height: 20rem;
    }

    .productosText
    {
        padding-top: 2rem;
    }

    .productosTittle 
    {
        font-size: 2rem;
    }

    .productosSubtittle 
    {
        font-size: 1.2rem;
    }

    .productosParagraph 
    {
        font-size: 1rem;
        text-align: center;    
    }

    .productosElement 
    {
        width: 200px;
        height: 200px;
    }

    .nosotrosContainer 
    {
        height: 100vh;
        padding-top: 2rem;
    }

    .lineaD 
    {
        top: 4.5rem;
    }

    .lineaI 
    {
        top: 4.5rem;
    }

    .nosotrosTittle
    {
        font-size: 2rem;
        width: 75%;
        padding: 0px 2rem;
    }

    .nosotrosParagraph 
    {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .Nparagraph 
    {
        font-size: 1rem;
        padding-top: 1rem;
    }

    .Lparagraph 
    {
        font-size: 0.7rem;
        padding-top: 1rem;
    }

    .nosotrosSubcontainer.tres 
    {
        padding-top: 0;
        padding: 0 2rem;
    }

    .nosotrosElement 
    {
        height: 200px;
    }

    .nuestro 
    {
        height: 50vh;
    }

    .nuestroTexto 
    {
        font-size: 2rem;
        top: 20%;
    }

    .carousel 
    {
        top: 45%;
    }

    .slides
    {
        grid-template-rows: 150px;
        gap: 1rem;
    }

    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        /*background-image: url("../images/degradado1.jpg");*/
        background: linear-gradient(
            to top,
            #0C2340,
            #003087
            );
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }

    .testimony__picture
    {
        width: 100vw;
        height: 95vh;
        position: relative;
    }


    .testimony__img{
        width: 100%;
        height: 100%;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}