@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204);
    border-radius: 3px;
}

html::-webkit-scrollbar-track {
    border-radius: 3px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    overflow-x: hidden  ;
}

.tittle{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.subtittle{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

.paragraph{
    font-weight: 400, sans-serif;
    font-size: 1.5rem;
    color: #000;
    padding-top: 2rem;
}   

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #dfdfdf;
}

/* FORMULARIO */

::placeholder { color: #fff; }

.contact
{  
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}   

.contactContainer
{   
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1em;
    background: linear-gradient(
        to right,
        #fff,
        rgba(255,255,255,0.1)
        );
    height: 85vh;
    justify-items: center;
    align-items: start;
    padding-top: 4rem;
}

.contactSubcontainer
{
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.contact2Sub
{
    position: inherit;
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    top: 30%;
}


.form-content
{
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    width: 100%;
}

.form-content h2
{
    font-family: Inter;
    color: #003087;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.formShape
{
    width: 80%;
    background: #101084;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
    border: transparent;
    font-size: 1rem;
}

.btn
{
    border-radius: 4px;
    border: transparent;
    height: 2rem;
    width: 7rem;
    color: #fff;
    background-color: #CF142B;
}

.lineaC3
{
    position: absolute;
    top: 7rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    right: 0;
}

.lineaC2
{
    position: absolute;
    top: 7rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    left: 0;
}

.lineaF
{
    position: absolute;
    bottom: 0;
    background-color: #CF142B;
    height: 5px;
    width: 100%;
    left: 0;
}

.productosText
{
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.contactText
{
    position: relative;
    padding: 0 3rem;
    justify-self: start;
}

.contact2Text
{
    position: relative;
    padding: 0;
    justify-self: start;
}

.contactTittle
{
    font-family: 'Inter';
    font-size: 3rem;
    font-weight: 600;
    color: #101084;
    padding: 0 3rem;
    justify-self: start;
    text-decoration: none;
}

.contactSubittle
{
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 600;
    color: #101084;
    padding: 0;
    justify-self: start;
    text-decoration: none;
}

.contactNumber
{
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 600;
    color: #CF142B;
    padding-bottom: 2rem;
    justify-self: start;
    text-decoration: none;
}

.contactParagraph {
    width: 75%;
    font-weight: 400;
    font-size: 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.contact2Paragraph
{
    width: 100%;
    font-weight: 300;
    font-size: 1rem;
    color: #828282;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.social
{
    width: 30%;
}

.socialSVG
{
    position: relative;
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    background-image: url(../images/facebook.svg);
    background-size: cover;
}

.instagramSVG
{
    position: relative;
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    background-image: url(../images/instagram.svg);
    background-size: cover;
}

.linkedinSVG
{
    position: relative;
    content: '';
    display: block;
    height: 2rem;
    width: 2rem;
    background-image: url(../images/linkedin.svg);
    background-size: cover;
}

/* FOOTER */

.contactFooter
{   
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1em;
    background: linear-gradient(
        to top,
        #0C2340,
        #003087
        );
    height: fit-content;
    justify-items: center;
    align-items: start;
    padding-top: 4rem;
}
    
/* GALERIA */

.gallery__tittle
{
    grid-column-start: 1;
    grid-column-end: 4;
}

.gallery__paragraph
{
    font-family: Inter;
    color: #F4F6F9;
    font-size: 2.5rem;
    margin-bottom: 20px;   
}

.gallery-container
{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    grid-gap:30px;
    height: 80vh;
}

.gallery-sub
{
    gap:30px;
    max-width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    height: 80%;
}

.gallery-sub:nth-of-type(2)
{
    grid-template-rows: 1fr 1fr;
}

.gallery-sub:nth-of-type(3)
{
    grid-template-rows: 3fr 1fr;
}

.gallery-sub:nth-of-type(4)
{
    grid-template-rows: 1fr 3fr;
}

.gallery__img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__item:nth-child(4){
    grid-column-start: span 2;
}



/* PRODUCTOS */

.calderas
{
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.calderasContainer
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    /* background-image: url(../images/degradadoG.jpg); */
    background: linear-gradient( to top, #0C2340, #003087 );
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    justify-items: center;
    align-items: center;
    padding-top: 0rem;
}

.calderasSubcontainer{

    background: linear-gradient(
        to right,
        #fff,
        rgba(255,255,255,0.1)
        );
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.calderasText {
    font-size: 3rem;
    font-weight: 600;
    color: #101084;
    padding: 0 5rem;
    justify-self: start;
    text-decoration: none;
}

.calderasElement{
    position: relative;
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 320px;
    height: 320px;
    padding: 0;
    transition: all 1s ease-in;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%, 0 0);
}

.calderasImg{
    position: relative;
    width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

.calderasElement::after
{
    position: absolute;
    top: 0;
    left: 0;
    content:"";
    width: 100%;
    height: 100%;
    transition: 1s;
    background-color: #CF142B;
    opacity: 0;
    transition: all 1s ease-in;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%, 0 0);
}

.calderasElement:hover::after
{
    opacity: 1;
    clip-path: polygon(84% 0, 100% 16%, 100% 100%, 0 100%, 0 0);
}

.calderasElement:hover
{
    opacity: 1;
    clip-path: polygon(84% 0, 100% 16%, 100% 100%, 0 100%, 0 0);
}

.calderasElement:hover .text-hover
{

    opacity: 1;
}

.text-hover 
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #FFF;
    opacity: 0;
    z-index: 4;
    transition: 1s;
}

.calderasText
{
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 0 5rem;
    justify-self: start;
    text-decoration: none;
    width: 50%;
}

.calderasTittle 
{
    font-weight: 600;
    font-size: 3rem;
}

.calderasSubtittle
{
    font-weight: 400;
    font-size: 2rem;
}

.calderasParagraph
{
    font-weight: 300;
    font-size: 1rem;
    padding-top: 2rem;
}

.lineaProductos
{
    position: absolute;
    top: 15rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    right: 0;
}

.lineaProductosI
{
    position: absolute;
    top: 15rem;
    background-color: #CF142B;
    height: 5px;
    width: 5rem;
    left: 0;
}