<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calderas Powermaster</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>
<body>

    <div w3-include-html="nabvar.html" class = "hero"></div>

    <section class="calderas">
        <div class="calderasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>

            <div class="calderasText">
                <h1 class="calderasTittle">Calderas de vapor</h1>
                <p class="calderasParagraph">Las calderas de vapor y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>
            
                <div class = "calderasSubcontainer">
                    
                    <div class="calderasElement">
                        <img src="../images/caldera.jpg" class="calderasImg">
                        <h1 class="text-hover">WBX</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera2.jpg" class="calderasImg">
                        <h1 class="text-hover">VT3</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera3.jpg" class="calderasImg">
                     <h1 class="text-hover">WB-A2-3P</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera4.jpg" class="CalderasImg">
                        <h1 class="text-hover">SWB</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera4.jpg" class="CalderasImg">
                        <h1 class="text-hover">SWB</h1>
                    </div>  

                </div>
            
        </div>
    </section>

    <section class="calderas">
        <div class="calderasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>

            <div class="calderasText">
                <h1 class="calderasTittle">Calderas de agua caliente</h1>
                <h2 class="calderasSubtittle">DE CONSUMO</h2>
                <p class="calderasParagraph">Las calderas de Agua Caliente y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>
            
                <div class = "calderasSubcontainer">
                    
                    <div class="calderasElement">
                        <img src="../images/caldera.jpg" class="calderasImg">
                        <h1 class="text-hover">WBX</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera2.jpg" class="calderasImg">
                        <h1 class="text-hover">VT3</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera3.jpg" class="calderasImg">
                     <h1 class="text-hover">WB-A2-3P</h1>
                    </div>

                </div>
            
        </div>
    </section>

    <section class="calderas">
        <div class="calderasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>

            <div class="calderasText">
                <h1 class="calderasTittle">Presurizada</h1>
                <p class="calderasParagraph">Las calderas de Agua Caliente y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>
            
                <div class = "calderasSubcontainer">
                    
                    <div class="calderasElement">
                        <img src="../images/caldera.jpg" class="calderasImg">
                        <h1 class="text-hover">WBX</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera2.jpg" class="calderasImg">
                        <h1 class="text-hover">VT3</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera3.jpg" class="calderasImg">
                     <h1 class="text-hover">WB-A2-3P</h1>
                    </div>

                    <div class="calderasElement">
                        <img src="./images/caldera3.jpg" class="calderasImg">
                     <h1 class="text-hover">WB-A2-3P</h1>
                    </div>

                </div>
        </div>
    </section>

    <section class="calderas">
        <div class="calderasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>

            <div class="calderasText">
                <h1 class="calderasTittle">Recuperadoras de calor</h1>
                <p class="calderasParagraph">Las recuperadoras de calorxxxxr y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>
            
                <div class = "calderasSubcontainer">

                </div>
        </div>
    </section>
    
    <section class="calderas">
        <div class="calderasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>

            <div class="calderasText">
                <h1 class="calderasTittle">Tanques</h1>
                <p class="calderasParagraph">Las recuperadoras de calorxxxxr y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>
            
                <div class = "calderasSubcontainer">

                </div>
        </div>
    </section>

    <section class="calderas">
        <div class="calderasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>

            <div class="calderasText">
                <h1 class="calderasTittle">Suavizadores</h1>
                <p class="calderasParagraph">Las recuperadoras de calorxxxxr y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>
            
                <div class = "calderasSubcontainer">

                </div>
        </div>
    </section>


    <div w3-include-html="footer.html"></div>

    <script src="./js/menu.js"></script>
    <script>includeHTML()</script>

</body>
</html>