<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>

<body>
    <div w3-include-html="nabvar.html" class="hero"></div>

    <section class="empresa">
        <div class="galeriaContainer container">

            <span class="lGaleria"></span>
            <span class="lGaleriaI"></span>
            <h1 class="galeriaTittle">Empresa</h1>

            <div class="contenedorColumna">
            <div class="galeriaText">
                <p class="calderasParagraph">Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>
            <div class="caja cajaAbajo">
                <img class="galeriaImg" src="../images/galeria.jpg" alt="Img galeria 3">
            </div>
            </div>

            <div class="contenedorColumna">
                <div class="caja">
                    <img class="galeriaImg" src="../images/galeria2.jpg" alt="Img galeria 1">
                </div>

                <div class="caja">
                    <img class="galeriaImg" src="../images/galeria3.jpg" alt="Img galeria 4">
                </div>
            </div>

            <div class="contenedorColumna">
                <div class="caja">
                    <img class="galeriaImg" src="../images/galeria4.jpg" alt="Img galeria 2">
                </div>
                
                
                <div class="caja">
                    <img class="galeriaImg" src="../images/galeria5.jpg" alt="Img galeria 5">
                </div>
            </div>
        </div>
    </section> 

    <div w3-include-html="footer.html"></div>

    <script>includeHTML()</script>
</body>
</html> 