<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">
</head>
<body>

    <section class="contact">

        <div class="contactFooter container">

            <div class="contactSubcontainer">

                    <div class="contactText">
                        <h1 class="contactTittle" style="color: #fff; margin-bottom: 3rem 0;">Contactanos</h1>
                    </div>

                    <form class="form-content" action="https://formsubmit.co/xo.628hod@gmail.com" method="POST">

                        <input class="formShape" style="background:#fff ;" type="text" name="name" id="name" placeholder="Nombre completo*">

                        <input class="formShape" style="background:#fff;" type="email" name="email" id="email" placeholder="Empresa*">

                        <input class="formShape" style="background:#fff;" type="text" name="subject" id="subject" placeholder="Teléfono*">
                        

                        <input class="formShape" style="background:#fff;" type="text" name="subject" id="subject" placeholder="Correo Electrónico*">

                        <textarea class="formShape" style="background:#fff;" name="coments" id="coments" cols="30" rows="5" placeholder="¿Qué podemos hacer por usted?"></textarea>

                        <input class="btn" type="submit" value="Enviar">

                    </form>

            </div>

            <div class="contact2Sub">

                <div class="nav__logo"><img src="../images/logoWhite.png" alt="Logo Powermaster"></div>
    
                <div class="contact2Text">
                    <h1 class="footerSubtittle">Nuestra presencia en el mundo</h1>
                    <h2 class="contact2Paragraph">Contamos con distribuidores en América, Europa y Asia.</h2>
                    <h2 class="contactNumber">Mapa de distribuidores</h2>
                </div>

                <div class="social">
                    <h2 class="contact2Paragraph">Siguenos en</h2>
                    <span class="socialSVG"></span>
                    <span class="instagramSVG"></span>
                    <span class="linkedinSVG"></span>
                    </div>

                </div>

            </div>

            <!-- <span class="lineaF"></span> -->

        </div>

    </section>

</body>
</html>