<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>

<body>
    <div w3-include-html="nabvar.html" class="hero"></div>

    <section class="empresa">
        <div class="galeriaContainer container">

            <span class="lGaleria"></span>
            <span class="lGaleriaI"></span>
            <h1 class="galeriaTittle">Empresa</h1>

            <div class="galeriaText">
                <p class="calderasParagraph">Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>

                <div class="caja">
                    <img class="galeriaImg" src="../images/.jpg" alt="Img galeria 1">
                </div>
                <div class="caja">
                    <img class="galeriaImg" src="../images/.jpg" alt="Img galeria 2">
                </div>
                <div class="caja">
                    <img class="galeriaImg" src="../images/.jpg" alt="Img galeria 3">
                </div>
                <div class="caja">
                    <img class="galeriaImg" src="../images/.jpg" alt="Img galeria 4">
                </div>
                <div class="caja">
                    <img class="galeriaImg" src="../images/.jpg" alt="Img galeria 5">
                </div>
                
        </div>
    </section>

    <section class="slider">
        <div class="sliderContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>
            <h1 class="calderas2Tittle">Historia</h1>

                <div class="carousel2">
                <div class="slides2">
                        <p class="sliderParagraph">Fundado en 1949, Calderas Powermaster inicia operaciones como representante exclusivo para México, de la caldera Powermaster de la firma Norteamericana “Orr & Sembower”.
                        </p><img src="./images/logos/l1.jpg" alt="Empresa 1">
                        <img src="./images/logos/l2.jpg" alt="Empresa 2">
                        <img src="./images/logos/l3.jpg" alt="Empresa 3">
                        <img src="./images/logos/l4.jpg" alt="Empresa 4">
                        <img src="./images/logos/l5.jpg" alt="Empresa 5">
                        <img src="./images/logos/l6.jpg" alt="Empresa 6">
                        <img src="./images/logos/l7.jpg" alt="Empresa 7">
                        <img src="./images/logos/l8.jpg" alt="Empresa 8">
                        <img src="./images/logos/l9.jpg" alt="Empresa 9">
                        <img src="./images/logos/l10.jpg" alt="Empresa 10">
                        <img src="./images/logos/l11.jpg" alt="Empresa 11">
                        <img src="./images/logos/l12.jpg" alt="Empresa 12">
                        <img src="./images/logos/l13.jpg" alt="Empresa 13">
                        <img src="./images/logos/l14.jpg" alt="Empresa 14">
                        <img src="./images/logos/l15.jpg" alt="Empresa 15">
                        <img src="./images/logos/l16.jpg" alt="Empresa 16">
                        <img src="./images/logos/l17.jpg" alt="Empresa 17">
                        <img src="./images/logos/l18.jpg" alt="Empresa 18">
                        <img src="./images/logos/l20.jpg" alt="Empresa 20">
                        <img src="./images/logos/l21.jpg" alt="Empresa 21">
                        <img src="./images/logos/l22.jpg" alt="Empresa 22">
                        <img src="./images/logos/l23.jpg" alt="Empresa 23">
                        <img src="./images/logos/l24.jpg" alt="Empresa 24">
                        <img src="./images/logos/l25.jpg" alt="Empresa 25">
                        <img src="./images/logos/l26.jpg" alt="Empresa 26">
                        <img src="./images/logos/l27.jpg" alt="Empresa 27">
                        <img src="./images/logos/l28.jpg" alt="Empresa 28">
                        <img src="./images/logos/l29.jpg" alt="Empresa 29">
                        <img src="./images/logos/l1.jpg" alt="Empresa 1">
                        <img src="./images/logos/l2.jpg" alt="Empresa 2">
                        <img src="./images/logos/l3.jpg" alt="Empresa 3">
                        <img src="./images/logos/l4.jpg" alt="Empresa 4">
                        <img src="./images/logos/l5.jpg" alt="Empresa 5">
                        <img src="./images/logos/l6.jpg" alt="Empresa 6">
                        <img src="./images/logos/l7.jpg" alt="Empresa 7">
                        <img src="./images/logos/l8.jpg" alt="Empresa 8">
                        <img src="./images/logos/l9.jpg" alt="Empresa 9">
    
                </div>
              </div>
        </div>
    </section>



    <div class="mision">

        <span class="lGaleria"></span>
        <span class="lGaleriaI"></span>
        <h1 class="misionTittle">Misión y Visión</h1>

        <div class="galeriasText">
            <p class="misionParagraph">Calderas Powermaster tiene la misi’on de

                xxxxxxxxxxxxxx texto simulado es un grupo in-
                dustrial dedicado a la fabricación de calderas
                
                de tubos de humo para generación de vapor y
                
                agua sobrecalentada, generadores de agua ca-
                liente de consumo, calentadores de aceite tér-
                mico y sus equipos auxiliares.Xxxxxxxx
            </p>
            <p class="misionParagraph">
                Calderas Powermaster tiene la misi’on de
                
                xxxxxxxxxxxxxx texto simulado es un grupo in-
                dustrial dedicado a la fabricación de calderas
                
                de tubos de humo para generación de vapor y
                
                agua sobrecalentada, generadores de agua ca-
                liente de consumo, calentadores de aceite tér-
                mico y sus equipos auxiliares.Xxxxxxxx
            </p>
        </div>
        <div class="galeriasText">

            <h1 class="mision2Tittle">Politica de calidad</h1>

            <p class="mision2Paragraph">Calderas Powermaster tiene la política de xxxxxxxxxxxxxx texto simulado
                es un grupo industrial dedicado a la fabricación de calderas de tubos de
                humo para generación de vapor y agua sobrecalentada, generadores de
                agua caliente de consumo, calentadores de aceite térmico y sus equipos
                auxiliares.Xxxxxxxx</p>
                
            <p class="mision2Paragraph">Calderas Powermaster tiene la misi’on de xxxxxxxxxxxxxx texto simulado
                es un grupo industrial dedicado a la fabricación de calderas de tubos de
                humo para generación de vapor y agua sobrecalentada, generadores de
                agua caliente de consumo, calentadores de aceite térmico y sus equipos
                auxiliares.Xxxxxxxx</p>

        </div>
    
    </div>

    <div w3-include-html="footer.html"></div>

    <script>includeHTML()</script>
</body>
</html> 