<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>
<body>
<div w3-include-html="nabvar.html" class="hero"></div>

<section class="slider">
    <div class="sliderContainer container">

        <span class="lineahistoria"></span>
        <span class="lineahistoriaI"></span>
        <h1 class="historiaTittle">Historia</h1>

            <div class="carousel2">
            <div class="slides2">
                <div class="caja"><p class="sliderParagraph">Fundado en 1949, Calderas Powermaster inicia operaciones como representante exclusivo para México, de la caldera Powermaster de la firma Norteamericana “Orr & Sembower”.
                </p><img src="../images/historia/1949.jpg" alt="Empresa 1"><h1 class="cajaTittle">1949</h1></div>  
                <div class="caja"><p class="sliderParagraph">A partir de 1954, se inicia la fabricación de la caldera Powermaster en México bajo licencia de “Orr & Sembower”.
                </p><img src="../images/historia/1954.jpg" alt="Empresa 1"><h1 class="cajaTittle">1954</h1></div>
                <div class="caja"><p class="sliderParagraph">En 1975, el Grupo Calderas Powermaster adquiere los derechos de la marca y tecnología “Powermaster” para la República Mexicana en exclusiva.
                </p><img src="../images/historia/1975.jpg" alt="Empresa 1"><h1 class="cajaTittle">1975</h1></div>
                <div class="caja"><p class="sliderParagraph">En 1984 se reestructura el Grupo Calderas Powermaster, iniciando con ello la implementación de tecnología europea al diseño original. Obteniendo como resultado una nueva caldera más segura, eficiente, confiable y con menores requerimientos de mantenimiento.
                </p><img src="../images/historia/1984.jpg" alt="Empresa 1"><h1 class="cajaTittle">1984</h1></div>
                <div class="caja"><p class="sliderParagraph">En 1988 se rediseñan los hogares de nuestras calderas para cumplir con la norma ISO/DIN 5730 de la Organización Internacional de Normalización. Obteniendo como resultado una mayor vida útil de la caldera al reducir considerablemente los coeficientes de fatiga por calor en el hogar y una combustión más limpia gracias a que se mejoran considerablemente los coeficientes de liberación de flama.
                </p><img src="../images/historia/1988.jpg" alt="Empresa 1"><h1 class="cajaTittle">1988</h1></div>
                <div class="caja"><p class="sliderParagraph">En 1989 se sustituye el marco refractario por una cámara de retorno de gases totalmente enfriada por agua "Wet-Back" en calderas de 80 HP en adelante. Elevando el aprovechamiento de calor de la caldera y eliminando el lado débil de la caldera de tubos de humo. Permitiendo el diseño y la fabricación de calderas de mayor capacidad.
                </p><img src="../images/historia/1989.jpg" alt="Empresa 1"><h1 class="cajaTittle">1989</h1></div>
                <div class="caja"><p class="sliderParagraph">En 1993 se termina la construcción de nuestra nueva planta en San Juan del Río, Qro. Una planta moderna con un área de fabricación de 4300 metros cuadrados sobre una superficie total de 6500 metros cuadrados para crecimientos futuros. Grúas viajeras, horno de relevado de esfuerzos y máquinaria para fabricación de gran capacidad nos permiten aumentar nuestra producción y presencia en el mercado.
                </p><img src="../images/historia/1993.jpg" alt="Empresa 1"><h1 class="cajaTittle">1993</h1></div>
                <div class="caja"><p class="sliderParagraph">En 1994 nuestra planta obtiene la autorización del National Board para estampar los sellos S, H y U de la American Society of Mechanical Enigineers (ASME) para calderas y recipientes sujetos a presión.
                </p><img src="../images/historia/1994.jpg" alt="Empresa 1"><h1 class="cajaTittle">1994</h1></div>
                <div class="caja"><p class="sliderParagraph">En 2000 se termina la ampliación de 950 metros cuadrados de la planta para obtener un total de 5,250 metros cuadrados para hacer frente al crecimiento de la empresa.
                </p><img src="../images/historia/2000.jpg" alt="Empresa 1"><h1 class="cajaTittle">2000</h1></div>
                <div class="caja"><p class="sliderParagraph">En 2011 el Grupo Calderas Powermaster adquiere la marca “Powermaster” en los Estados Unidos de Norteamérica e inicia la comercialización de las calderas en U.S.A.
                </p><img src="../images/historia/2011.jpg" alt="Empresa 1"><h1 class="cajaTittle">2011</h1></div>  
                <div class="caja"><p class="sliderParagraph">En 2014 Calderera del Centro SA de CV obtiene la certificación ISO9001 para su sistema de gestión de calidad
                </p><img src="../images/historia/2014.jpg" alt="Empresa 1"><h1 class="cajaTittle">2014</h1></div>
                <div class="caja"><p class="sliderParagraph">Se termina la ampliación con una nave nueva. Con esta ampliación se pretende satisfacer la creciente demanda de los mercados de exportación.
                </p><img src="../images/historia/2018.jpg" alt="Empresa 1"><h1 class="cajaTittle">2018</h1></div>
                <div class="caja"><p class="sliderParagraph">EN 2020 se Instalan paneles solares para abastecer el consumo eléctrico de la fábrica.
                    2021 se ampliaron los paneles solares.
                </p><img src="../images/historia/2020.jpg" alt="Empresa 1"><h1 class="cajaTittle">2020</h1></div>
                <div class="caja"><p class="sliderParagraph">Actualmente Calderas Powermaster se consolida como el líder en la fabricación de calderas de tubos de humo a nivel internacional. Más de 6,000 calderas vendidas en toda la República Mexicana, Centroamérica, Sudamérica y U.S.A. operando a satisfacción de nuestros prestigiados clientes respaldan nuestra marca.
                </p><img src="../images/historia/2019.jpg" alt="Empresa 1"><h1 class="cajaTittle">Actualmente</h1></div>
                <div class="caja"><p class="sliderParagraph">Fabricamos las calderas más seguras, de mayor eficiencia, de mayor confiabilidad en su operación y de mayor vida útil del mercado, utilizando únicamente tecnología de punta a nivel mundial, con los mejores materiales que existen en el mercado internacional.
                </p><img src="../images/historia/2022.jpg" alt="Empresa 1"><p class="sliderParagraph">Justificar la Confianza Depositada es nuestro lema de ventas, con el respaldo del excelente prestigio de nuestra marca.</p></div>
                

                </div>
          </div>
    </div>
</section> 

<div w3-include-html="footer.html"></div>

    <script>includeHTML()</script>
</body>
</html> 