<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misicón y Visión</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>
<body>
<div w3-include-html="nabvar.html" class="hero"></div>

<div class="mision">

    <span class="lGaleria"></span>
    <span class="lGaleriaI"></span>
    <h1 class="misionTittle">Misión y Visión</h1>

    <div class="galeriasText">
        <p class="misionParagraph">Calderas Powermaster tiene la misi’on de

            xxxxxxxxxxxxxx texto simulado es un grupo in-
            dustrial dedicado a la fabricación de calderas
            
            de tubos de humo para generación de vapor y
            
            agua sobrecalentada, generadores de agua ca-
            liente de consumo, calentadores de aceite tér-
            mico y sus equipos auxiliares.Xxxxxxxx
        </p>
        <p class="misionParagraph">
            Calderas Powermaster tiene la misi’on de
            
            xxxxxxxxxxxxxx texto simulado es un grupo in-
            dustrial dedicado a la fabricación de calderas
            
            de tubos de humo para generación de vapor y
            
            agua sobrecalentada, generadores de agua ca-
            liente de consumo, calentadores de aceite tér-
            mico y sus equipos auxiliares.Xxxxxxxx
        </p>
    </div>
    <div class="galeriasText">

        <h1 class="mision2Tittle">Politica de calidad</h1>

        <p class="mision2Paragraph">Calderas Powermaster tiene la política de xxxxxxxxxxxxxx texto simulado
            es un grupo industrial dedicado a la fabricación de calderas de tubos de
            humo para generación de vapor y agua sobrecalentada, generadores de
            agua caliente de consumo, calentadores de aceite térmico y sus equipos
            auxiliares.Xxxxxxxx</p>
            
        <p class="mision2Paragraph">Calderas Powermaster tiene la misi’on de xxxxxxxxxxxxxx texto simulado
            es un grupo industrial dedicado a la fabricación de calderas de tubos de
            humo para generación de vapor y agua sobrecalentada, generadores de
            agua caliente de consumo, calentadores de aceite térmico y sus equipos
            auxiliares.Xxxxxxxx</p>

    </div>

</div>


<div w3-include-html="footer.html"></div>

    <script>includeHTML()</script>
</body>
</html> 