<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">

    <script src="../js/menu.js"></script>
</head>
<body>
        <div class = "navSuperior">
            <p class = "hero__paragraph" style="margin: 0;">T. (+52) 55 5393    5711 / 5700 / 5770 / 8449 </p>
        </div> 
        <nav class="nav container">
            <a href="../index.html"><div class="nav__logo">
                <img src="../images/logoV2.png", alt="Logo Powermaster", style="max-width: 250px;">
            </div></a>
            <ul class="nav__link nav__link--menu", style="list-style: square;">
                <li class="nav__items">
                    <a class="nav__links action">Nosotros</a>
                    <ul class="submenu">
                        <li><a href="../templates/history.html">  Empresa</a></li>
                        <li> Misón y Visión</li>
                        <li>Política de Calidad</li>
                    </ul>

                </li>
                <li class="nav__items">
                    <a  class="nav__links action">Productos</a>
                    <ul class="submenu">
                        <li>Calderas</li>
                        <li>Recuperadoras de calor</li>
                        <li>Tanques</li>
                        <li>Suavizadores</li>
                    </ul>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Refacciones</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Servicio</a>
                    <ul class="submenu">
                        <li><a href="../templates/history.html">Servicio al Cliente</a></li>
                        <li> Proyecto</li>
                        <li>Fabricación</li>
                        <li>Instalación</li>
                        <li>Mantenimiento</li>

                    </ul>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">Guía Técnica</a>
                </li>
                <img src="../images/close.svg" class="nav__close">
            </ul>
            <a href="../templates/contact.html" class="btn-flotante">Contacto</a>
    
            <div class="nav__menu">
                <img src="../images/menu.svg" class="nav__img">
            </div>
        </nav>
    </header>
</body>

</html>