<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperadoras de calor</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>
<body>

    <div w3-include-html="nabvar.html" class = "hero"></div>

    <section class="recuperadoras">
        <div class="recuperadorasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>
            <h1 class="calderas2Tittle">Recuperadoras de calor</h1>

            <div class="calderas2Text">
                <p class="calderasParagraph">Las recuperadoras de calorxxxxr y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>

                <div class = "recuperadorasSubcontainer">
                    <div class="nav__logo"><img src="../images/logoWhite.png" alt="Logo Powermaster"></div>
                    <div class="calderas2Text"></div>
                </div>
                <div class = "recuperadorasSubcontainer">                    
                    <div class="calderas2Text"></div>
                    <div class="nav__logo"><img src="../images/logoWhite.png" alt="Logo Powermaster"></div>
                </div>
        </div>
    </section>

    <div w3-include-html="footer.html"></div>

    <script src="./js/menu.js"></script>
    <script>includeHTML()</script>

</body>
</html>