<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suavizadoras Powermaster</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>
<body>

    <div w3-include-html="nabvar.html" class = "hero"></div>

    <section class="recuperadoras">
        <div class="recuperadorasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>
            <h1 class="calderas2Tittle">Suavizadores</h1>

            <div class="calderas2Text">
                <p class="calderasParagraph">Un suavizador tiene como fin el extraer del agua de alimentación a calderas las sales de calcio y magnesio. Utiliza resina de intercambio iónico. Las sales de calcio y magnesio, dañinas para la caldera, se adhieren a la resina. Una vez saturada la resina, requiere de una regeneración con salmuera, enjuague, servicio y reposición de agua para la sal.
                    
                    <br><br>El costo de operación de un suavizador es su consumo de sal y agua. Princi-
                    palmente de sal.</p>
            </div>

            <div class="calderas2Text">
                <p class="calderasParagraph">Existen suavizadores de agua manuales y automáticos. Un suavizador de agua automático es mas eficiente, consume menos sal y por lo tanto menos agua. Tiene costos de operación significativamente menores. Sus tanques de fibra de vidrio son de larga vida útil. Su operación es confiable y segura, totalmente automática. Requiere de una presión mínima de agua de 2.0 kg/cm2 y de corriente monofásica de 115 V..</p>
            </div>

                <div class = "tanquesSubcontainer">
                    <div class="fotoProductos"><img src="../images/suavizadores.jpg" alt="Logo Powermaster"></div>
                    <div class="tanquesText">

                        <h1 class="tanquesTittle">Dato técnico</h1>
                        <p class="tanquesParagraph">Un pie cúbico de resina dá una capacidad máxima de 30,000 granos de intercambio requiriendo 7.0 kg. de sal y 23 lts. de agua. El suavizador automático opera al pie cúbico de resina con una capacidad de intercambio de 20,000 granos, requieriendo 3.5 kg. de sal y 11.5 lts. de agua.
                            <br><br>Si dividimos la dureza del agua (ppm) entre 17.1, obtendremos los granos por galón que podemos suavizar.
                            <br><br>Si contamos con un suavizador automático de 4 pies cúbicos, tendremos 4 X 20,000 = 80,000 granos disponibles. Si el agua a ser suavizada tiene una dureza de 150 ppm, dividida entre 17.1, tendremos 8.77 granos por galón. 80,000 ÷ 8.77 = 9,122 galones de agua. Cada 9,122 galones deberá mandar a afectuar el retrolavado.
                            </p>

                    </div>
                </div>
                <div class = "lineasSubcontainer">                    
                    <div class="calderas2Text">

                        <h1 class="tanquesTittle">LÍNEA DE PRODUCTOS</h1>
                        <p class="tanquesParagraph">

                            A. Suavizadores sencillos (Simplex) o dobles (Dúplex) con válvula de pasos
                            
                            múltiples, operación manual. Tanques de resina catiónica, fabricados en pla-
                            ca de acero al carbono, con forro de pintura epóxica. Tanque de salmuera de
                            
                            fibra de vidrio.</p>
                            
                            <h2 class="tanquesSubtittle">Fabricación propia nacional, modelos:</h2>
                            <ul class="calderasLi">
                                <li class="recuperadorasLi">N-Simplex.</li>
                                <li class="recuperadorasLi">SN-Dúplex.</li>
                                <li class="recuperadorasLi">Tamaños desde SN-20 con 2 pies cúbicos de resina, 60,000 granos, Simplex o Dúplex.</li>
                                <li class="recuperadorasLi">Hasta SN-300 con 30 pies cúbicos de resina 900,000 granos, Simplex o Dúplex.</li>
                            </ul>

                    </div>
                    <div class="calderas2Text">

                       <p class="tanquesParagraph">B. Suavizadores sencillos (singles) o dobles (twins) con válvula de pasos múltiples de operación totalmente automática, mediante medidor de flujo integral o mediante reloj timer integral. Tanques de resina catiónica, fabricados en fibra de vidrio de larga vida útil. Tanque de salmuera en poliéster o fibra de vidrio.</p>

                        <h2 class="tanquesSubtittle">Fabricación de importación (U.S.A.) modelos:</h2>
                        <ul class="calderasList">
                        <li class="tanquesLi">Singles (Simplex).</li>
                        <li class="tanquesLi">Twins (Dúplex).</li>
                        </ul>

                        <p class="tanquesParagraph">Tamaños desde M2010 SD con 1 pie cúbico de resina, hasta M4118 con 40 pies cúbicos de resina. Flujos de agua a suavizar desde 9 GPM hasta 280 GPM, con baja caíida de presión (15 a 25 PSI) y bajo consumo de sal. Requieren de una presión constante de 30 PSI (2kg/cm2) y corriente eléctrica monofásica de 115 V - 60 hz.</p>

                    </div>
                </div>
        </div>
    </section>

    <div w3-include-html="footer.html"></div>

    <script src="./js/menu.js"></script>
    <script>includeHTML()</script>

</body>
</html>