<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanques Powermaster</title>
    <link rel="shortcut icon" href="../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/mediaStyles.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

</head>
<body>

    <div w3-include-html="nabvar.html" class = "hero"></div>

    <section class="recuperadoras">
        <div class="recuperadorasContainer container">

            <span class="lineaProductos"></span>
            <span class="lineaProductosI"></span>
            <h1 class="calderas2Tittle">Tanques</h1>

            <div class="calderas2Text">
                <p class="calderasParagraph">Los tanques de calorxxxxr y ponemos texto simulado Calderas Powermaster es un grupo industrial dedicado a la fabricación de calderas de tubos de humo para generación de vapor y agua sobrecalentada, generadores de agua caliente de consumo, calentadores de aceite térmico y sus equipos auxiliares.</p>
            </div>

                <div class = "tanquesSubcontainer">
                    <div class="fotoProductos"><img src="../images/tanques.jpg" alt="Logo Powermaster"></div>
                    <div class="tanquesText">
                        <h1 class="tanquesTittle">Caracteristicas</h1>
                        <ul class="calderasList">
                            <li class="tanquesLi">Bombas de alimentación de agua</li>
                            <li class="tanquesLi">Válvulas para vapor, alimentación de agua, purgas, etc.</li>
                            <li class="tanquesLi">Suavizadores.</li>
                            <li class="tanquesLi">Tanques de condensados.</li>
                            <li class="tanquesLi">Tanques de purgas.</li>
                            <li class="tanquesLi"> Tanques de dia para combustible diesel y combustóleo.</li>
                            <li class="tanquesLi">Tanques de acondicionamiento de combustible (combustóleo y
                                combustible industrial).</li>
                            <li class="tanquesLi"> Tanques de almacenamiento para combustible diesel y combustó-
                                leo.</li>
                        </ul>
                    </div>
                </div>
                
        </div>
    </section>

    
    
    
    
   
    
    
   


    <div w3-include-html="footer.html"></div>

    <script src="./js/menu.js"></script>
    <script>includeHTML()</script>

</body>
</html>